body{
  margin: 0;
  font-family: 'Noto Sans Japanese','Hiragino Kaku Gothic ProN','Meiryo',sans-serif;
}
/* -----------headerここから------------*/
header {
  display: flex;
  justify-content: space-between;
}

#header-left {
  background-color: #18A0CB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5% 0 0.5%;
}

#header-left a {
  text-decoration: none;
}

@media screen and (max-width: 560px){
  #header-left a {
    flex-direction: column;
    align-items: baseline;
  }
  #header-left h1 {
    padding-top: 2px;
  }
}

#header-left img {
  height: 1.5vw;
  padding-right:1vw;
}

#header-left h1 {
  display: inline-block;
  color: white;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

#header-center {
  display: flex;
  flex-grow: 1;
}

#triangle-left {
  background-color: #18A0CB;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  margin-left: -1px;
  border-bottom: 1px solid #18A0CB;
}

#triangle-right {
  width: 50%;
  height: 100%;
  background-color: #262626;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  border-right: 2px solid #262626;
  margin-right: -1px;
}

#header-right {
  background-color: #262626;
  display: flex;
  align-items: center;
}

#nav {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

.nav-div {
  margin: 10px 2vw;
  text-align: center;
}

.nav-div p {
  margin: 0;
  font-size: 14px;
}

.nav-div span {
  font-size: 16px;
}

.menu {
  position: relative;
}

.drop-menu:hover .drop-menu-list {
  visibility: visible;
}

.menu a {
  align-items: center;
  text-decoration: none;
}

.drop-menu {
  position: relative;
}

.drop-menu-list {
  background-color: #262626; 
  position: absolute;
  top: 100%;
  visibility: hidden; 
  width: 80%;
  text-align: center;
  z-index: 1;
  padding: 20px 20px ;
  list-style: none;
}

.drop-menu-item {
  padding: 15px 0;
  border-top: 1px solid #fff;
}

#drop-menu-item2 {
  border-bottom: 1px solid #fff;
}

.drop-menu-item:hover a{
  color: #67d5f6 !important;
  font-size: 17px;
}

.openbtn1 {
  display: none;
}

/* ----header----PC版ここまで */

@media screen and (max-width: 960px){
  #header-left img {
    height: 15px;
  }

  #header-left {
    width: 40%;
    padding: 0 0 0 5%;
  }

  #nav {
    display: none;
  }

  #header-right {
    width: 70px;
    justify-content: right;
    height: 60px;
  }

  /* ハンバーガー */
.openbtn1{
  display: block;
  position: relative;
  background:#262626;
  width: 70px;
  height:100%;
}

.openbtn1 span{
    display: inline-block;
    transition: all .3s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

#menu-span {
  content:"Menu";
  display: inline-block;
  transition: all .3s;
  position: absolute;
  left: 10px;
  top: 38px;
  height: 0;
  color: #fff;
  width: 0;
  font-size: 14px;
}

/*activeクラス*/
.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
}

@media screen and (max-width: 420px){
  #header-left h1 {
    font-size: 17px;
  }

}

@media screen and (max-width: 356px){
  #header-left h1 {
    font-size: 15px;
  }
}


/* -----------headerここまで------------*/
/* ハンバーガーメニューを開いた時の画面 */
.hamburger {
  display: none;
}

@media screen and (max-width: 960px){
  .ham-menu br {
    display: inline-block;
  }
  .hamburger {
    width: 100%;
    height: auto;
    background-color: #262626;
    position: absolute;
    z-index: 50;
    right: 0;
    display: block;
    opacity: 0;
    transition: all .2s linear;
    display: none;
  }

  .hamu-open {
    width: 100%;
    height: 100dvh;
    background-color: #262626;
    position: absolute;
    z-index: 50;
    right: 0;
    display: block;
    opacity: 0.98;
    display: block;
    transform: translateX(0);
  }

  #ham-div {
    width: 100%;
    margin: 0 0 0 auto;
    display: flex;
  }

  #ham-ul {
    list-style: none;
    margin: 10% 0;
    padding-inline-start:0px;
  }

  #ham-ul a {
    text-decoration: none;
    color: #fff;
  }

  .ham-menu {
    border-bottom: 1px dotted #fff;
    width: 80%;
    margin: 0 auto;
  }

  .hamu-menu-top {
    border-top: 1px dotted #fff;
  }

  .ham-menu a{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60px;
  }

  .ham-menu a p{
    margin: 0;
    width: 50%;
    color: #18A0CB;
  }

  .ham-menu a span {
    font-size: 20px;
    width: 50%;
  }
  
  #ham-left {
    width: 30%;
    height: 100dvh;
  }

  #ham-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #ham-right {
    width: 70%;
  }

}

/* ハンバーガーメニューを開いた時の画面ここまで */
/* -----------main-picここから -------------*/
.main-pic {
  position: relative;
  height: 100dvh;
}

#main-pic {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  object-position: top;
}

#main-logo {
  height: 5vh;
  padding-top: 30px;
  object-fit: cover;
  object-position: center;
}

.main-pic-line {
  position: absolute;
  top: 35vh;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
}

.main-pic-text p{
  font-weight: bold;
  font-size: 1.5vw;
}

@media screen and (max-width: 1280px){
  .main-pic-text p{
    font-weight: bold;
    font-size: 18px;
  }
}
@media screen and (max-width: 520px){
  .main-pic-text p{
    font-weight: bold;
    font-size: 3.5vw;
  }
}

/* -------------------main-picここまで------------- */
/* -------------ABOUTタイトルここから---------------------- */
article {
  background-image: url(../img/about/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.main-title {
  font-weight: bold; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.title-left {
  font-size: 2vw; 
}

.title-center {
  width: 30%;
  height: 3px;
  background-color: #000;
}

.title-right {
  font-size: 8vw;
  margin-top : 1rem;
  margin-bottom: 1rem;
  color: #B9B9B9;
}

@media screen and (max-width: 1280px){
  .title-left {
    font-size: 25px; 
  }
  
  .title-center {
    width: 25%;
  }
}

@media screen and (max-width: 520px){
  .title-left {
    font-size: 18px; 
  }
  .title-center {
    width: 20%;
    height: 2px;
  }
  .title-right {
    font-size: 40px;
    margin-top : 1rem;
  }
}

/* --------aboutタイトルここまで------------ */
#about-div {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  height: 140vh;
}

.wrapper-1500 {
  max-width: 1500px;
}

#about1 img{
  position: absolute;
  top: 0;
  left: 0;
  height: 45vh;
  object-fit: cover;
  object-position: center;
  min-width: 50%;
}

#about2 img{
  position: absolute;
  top: 50vh;
  right: 0vw;
  height: 45vh;
  min-width: 50%;
  object-fit: cover;
  object-position: center;
  
}

#about3 img{
  position: absolute;
  top: 100dvh;
  left: 0vw;
  height: 45vh;
  object-fit: cover;
  object-position: center;
  min-width: 50%;
}

#about-text1 {
  padding: 40px 50px 40px 60px;
  position: absolute;
  top:15vh;
  right: 5vw;
  max-width: 60%;
}

#about-text1::before {
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: skew(-20deg);
  z-index: -1;
}

#about-text2 {
  padding: 30px 50px 30px 60px;
  position: absolute;
  top: 65vh;
  left: 5vw;
  z-index: 10;
}

#about-text2::before {
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: skew(25deg);
  z-index: -1;
}

#about-text3 {
  padding: 40px 50px 40px 60px;
  position: absolute;
  top:115vh;
  right: 5vw;
}

#about-text3::before {
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: skew(-26deg);
  z-index: -1;
}

.about-text {
  z-index: 50;
}

.about-text h3 {
  font-size: 30px;
  z-index: 30;
  margin: 0;
}

.about-text p {
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 1280px){
  #about-div {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    height: 140vh;
    overflow-x: hidden;
  }
  
  .wrapper-1500 {
    max-width: 1280px;

  }
  
  #about1 img{
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    min-width: 50%;
  }
  
  #about2 img{
    position: absolute;
    top: 50vh;
    right: 0vw;
    height: 40vh;
    min-width: 50%;
    object-fit: cover;
    object-position: center;
    
  }
  
  #about3 img{
    position: absolute;
    top: 100dvh;
    left: 0vw;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    min-width: 50%;
  }
  
  #about-text1 {
    padding: 30px 30px 30px 60px;
    position: absolute;
    top:10vh;
    right: 5vw;
    max-width: 40%;
  }
  
  #about-text2 {
    padding: 30px 30px 30px 60px;
    position: absolute;
    top: 60vh;
    left: 5vw;
    z-index: 10;
    max-width: 40%;
  }
  
  #about-text3 {
    padding: 40px 50px 40px 60px;
    position: absolute;
    top:110vh;
    right: 5vw;
    max-width: 40%;
  }

  .about-text h3 {
    font-size: 25px;
    z-index: 30;
    margin: 0;
  }
  
  .about-text p {
    font-size: 18px;
    margin: 0;
  }
}
@media screen and (max-width: 960px){
  #about-div {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
  }
  
  .wrapper-1500 {
    max-width: 960px;
  }

  #about1,#about3 {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  #about2 {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  #about1 img{
    position: static;
    height: 30vw;
    object-fit: cover;
    object-position: center;
    min-width: 70%;
  }
  
  #about2 img{
    position: static;
    height: 30vw;
    min-width: 70%;
    object-fit: cover;
    object-position: center;
    order: 1;
  }
  
  #about3 img{
    position: static;
    height: 30vw;
    object-fit: cover;
    object-position: center;
    min-width: 70%;
  }

  .about-text {
    width: 100%;
  }

  #about-text1 {
    padding: 0px;
    position: static;
    width: 100%;
    max-width: 100%;
  }
  
  #about-text1::before {
    content: none;
    position: static;
  }
  
  #about-text2 {
    padding: 0px;
    position: static;
    z-index: 10;
    order: 2;
    width: 100%;
    max-width: 100%;
  }

  #about-text2 h3 {
    text-align: left;
    margin: 15px 0 0 45%;
  }

  #about-text2 p {
    text-align: left;
    margin: 0 0 25px 45%;
  }
  
  #about-text2::before {
    content: none;
    position: static;
  }
  
  #about-text3 {
    padding: 0px;
    position: static;
    width: 100%;
    max-width: 100%;
  }
  
  #about-text3::before {
    content: none;
    position: static;
  }
  
  .about-text h3 {
    font-size: 23px;
    z-index: 30;
    margin: 15px 0 0 15px;
  }
  
  .about-text p {
    font-size: 16px;
    margin: 0 0 15px 15px;
  }
}

@media screen and (max-width: 520px){
  .wrapper-1500 {
    max-width: 520px;
  }

  #about-text1 {
    padding: 0px;
    position: static;
    width: 100%;
    max-width: 100%;
  }

  #about-text1 p,#about-text3 p {
    margin: 0 35% 25px 10px;
  }

  br {
    display: none;
  }
  
  #about-text2 {
    padding: 0px;
    position: static;
    z-index: 10;
    order: 2;
    width: 100%;
    max-width: 100%;
  }

  #about-text2 h3 {
    text-align: left;
    margin: 15px 0 0 35%;
  }

  #about-text2 p {
    text-align: left;
    margin: 0 0 25px 35%;
  }
  
  #about-text3 {
    padding: 0px;
    position: static;
    width: 100%;
    max-width: 100%;
  }
  
  .about-text h3 {
    font-size: 18px;
    z-index: 30;
    margin: 15px 0 0 10px;
  }
  
  .about-text p {
    font-size: 14px;
    margin: 0 80% 15px 15px;
  }
}
/* ---------blue-back------------- */
.blue-back {
  background-color: #18A0CB;
  width: 100%;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10vw;
  box-sizing: border-box;
}

.blue-back div {
  max-width: 90%;
}

.blue-back h4 {
  color: #fff;
  font-size: 30px;
  margin-top: 7px;
  margin-bottom: 0;
  margin-right: 30px;
  width: 30%;
  text-align: center;
}

.blue-back p{
  font-size: 20px;
  margin-top: 10px;
  width: 65%;
}

#blue1,#blue2,#blue3{
  display: flex;
  justify-content: center;
}

.blue1,.blue2,.blue3 {
  opacity: 0;
  transition: 2.5S;
}

#blue2,#blue3 {
  margin-top: 10px;
}

#blue1 span,#blue2 span,#blue3 span {
  display: inline-block;
}

@media screen and (max-width: 1182px){
  .blue-back p br{
    display: none;
  }
}

@media screen and (max-width: 960px){
  .blue-back p br{
    display: inline;
  }

  .blue-back {
    background-color: #18A0CB;
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10vw;
  }
  
  .blue-back h4 {
    color: #fff;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0;
    width: 100%;
  }
  
  .blue-back p{
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }
  
  #blue2,#blue3 {
    margin-top: 50px;
  }
  
  .blue-back span {
    display: inline-block;
  }

  #blue1,#blue2,#blue3{
    display: block;
  }
}
@media screen and (max-width: 730px){
  .blue-back {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10vw;
  }
  
  .blue-back h4 {
    color: #fff;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0;
    width: 100%;
  }
  
  .blue-back p{
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
    text-align: left;
  }

  .blue-back p br {
    display: none;
      }
  
  #blue2,#blue3 {
    margin-top: 50px;
  }

  #blue1,#blue2,#blue3{
    display: block;
  }

  br {
    display: inline;
  }
}

/* ------------会社概要----------------- */
.gray-back {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #B9B9B9;
}

.gray-back h5 {
  font-size: 60px;
  text-align: center;
  color: #fff;
  margin: 60px auto 30px auto;
}

.wrapper-about {
  max-width: 1280px;
  margin: 0 auto;
}

#about-flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#about-flex-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

#about-flex-left img {
  padding: 10px;
  max-width: 80%;
  width: 400px;
  height: 200px;
  object-fit: cover;
}

#about-pic2 {
  max-height: 400px;
}

#about-flex-right {
  width: 60%;
  margin: 20px 0;
}

#about-flex-right dl {
  width: 100%;
  margin: 5px 0;
}

#about-flex-right dl dt span,#about-flex-right dl dd span {
  display: inline-block;
}



#about-flex-right dt{
  float: left;
  min-width: 7ex;
  /* width: 30%; */
  text-align: left;
  font-size: 22px;
  padding-top: 5px;
  color: #1d2776;
}

#about-flex-right dd{
  text-align: left;
  /* width: 70%; */
  font-size: 20px;
  padding-left: 10em;
  margin: 0 auto;
  padding-top: 5px;
  box-sizing: border-box;
}

@media screen and (max-width: 960px){
  .gray-back {
    height: 80px;
    line-height: 80px;
  }
  
  .gray-back h5 {
    font-size: 40px;
    margin: 50px auto 30px auto;
  }

  .wrapper-about {
    max-width: 960px;
    margin: 0 auto;
  }


  #about-flex {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  
  #about-flex-left {
    display: flex;
    justify-content: space-around;
    flex-direction: unset;
    width: 100%;
  }
  
  #about-flex-left img {
    padding: 10px;
    max-width: 50%;
    width: 50%;
    box-sizing: border-box;
  }
  
  #about-pic1 {
    object-fit: cover;
  }
  
  #about-flex-right {
    width: 100%;
    margin: 0 ;
    padding-left: 20vw;
    box-sizing: border-box;
  }
  
  #about-flex-right dt{
    float: left;
    width: 20%;
    text-align: left;
    font-size: 20px;
  }
  
  #about-flex-right dd{
    text-align: left;
    font-size: 18px;
    padding-left: 10em;
    width: 100%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 875px){
  #about-flex-right {
    width: 100%;
    margin: 0 ;
    padding-left: 15vw;
    box-sizing: border-box;
  }

  #about-flex-right dt{
    float: left;
    width: 30%;
    text-align: left;
    font-size: 16px;
  }
  
  #about-flex-right dd{
    text-align: left;
    font-size: 16px;
    padding-left: 14em;
    width: 100%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 620px){
  #about-flex-right {
    width: 100%;
    margin: 0 ;
    padding-left: 10px;
    box-sizing: border-box;
  }

  #about-flex-right dt{
    float: left;
    width: 30%;
    text-align: left;
    font-size: 16px;
  }
  
  #about-flex-right dd{
    text-align: left;
    font-size: 16px;
    padding-left: 14em;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 530px){
  #about-flex-right dl {
    width: 85%;
    margin: 0 auto;
  }
  
  #about-flex-right {
    width: 100%;
    margin: 0 ;
    padding-left: 0;
    box-sizing: border-box;
  }

  #about-flex-right dt{
    float: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
  }
  
  #about-flex-right dd{
    text-align: left;
    font-size: 16px;
    padding-left: 0;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0;
  }
}

/* ----------取引先・銀行--------------- */
#partner-flex {
  display: flex;
  justify-content: space-around;
}

#partner-left p,#partner-right p{
  font-size: 18px;
  margin: 0;
}

.A8C0D1{
  font-size: 60px;
  color: #A8C0D1;
  margin: 20px 0;
  text-align: center;
  opacity: 0;
  transition: 2.5s;
}

.A8C0D1-p {
  width: 80%;
  margin: 0 0 0 auto;
}

.A8C0D1 p span {
  font-weight: bold;
}

#partner-left br {
  display: none;
}

#partner-right,#partner-left {
  width: 50%;
}

.gojuuonn {
  padding-left: 25%;
}

.A8C0D1-p-div {
  margin-top: 20px;
}

@media screen and (max-width: 960px){
  .wrapper-about {
    max-width: 960px;
    margin: 0 auto;
  }

  .A8C0D1-p {
    margin: 0 0 0 5vw;
  }
}

@media screen and (max-width: 850px){
  #partner-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper-about {
    max-width: 850px;
    margin: 0 auto;
  }
  .A8C0D1 {
    font-size: 40px;
    margin: 15px 0 0 0;
  }

  .A8C0D1-p {
    margin: 0 0 0 auto;
  }

  #partner-left,#partner-right {
    width: 100%;
  }

  #partner-left p, #partner-right p {
    font-size: 18px;
  }
}

@media screen and (max-width: 560px){

  .wrapper-about {
    max-width: 560px;
    margin: 0 auto;
  }

  .A8C0D1-p {
    margin: 0 0 0 10vw;
  }

  .A8C0D1-p span {
    font-size: 14px;
  }

  .span {
    display: block;
  }

  #partner-left p{
    margin-bottom: 5px;
  }

  .gojuuonn {
    padding-left: 0%;
  }

}


/* ------------------沿革-------------------- */
#about-dl{
  margin: 20px auto;
  max-width: 85%;
}

#enkaku dt {
  float: left;
  width: 15%;
  font-size: 20px;
  padding-top: 10px;
}

#enkaku dd {
  width: 80%;
  padding-left:5em ;
  font-size: 20px;
  padding-top: 10px;
}
@media screen and (max-width: 920px){
  #about-dl{
    margin: 20px auto;
    max-width: 85%;
  }
  
  #enkaku dt {
    float: left;
    width: 15%;
    font-size: 16px;
  }
  
  #enkaku dd {
    width: 80%;
    padding-left:5em ;
    font-size: 16px;
  }
}
@media screen and (max-width: 748px){
  #about-dl{
    margin: 15px 10px;
  }
  
  #enkaku dt {
    float: left;
    width: 27%;
    font-size: 14px;
    padding-top: 5px;
  }
  
  #enkaku dd {
    width: 80%;
    padding-left:9em ;
    font-size: 14px;
    padding-top: 5px;
  }
}
@media screen and (max-width: 570px){
  #enkaku dd {
    width: 80%;
    padding-left:6em ;
    font-size: 14px;
    padding-top: 5px;
  }
}
@media screen and (max-width: 468px){
  #about-dl{
    margin: 20px auto;
    max-width: 100%;
  }

  #about-dl{
    margin: 15px 5px;
    max-width: 100%;
  }

  #enkaku dt {
    float: none;
    color: #1d2776;
    width: 95%;
    margin: 0 auto;
  }

  #enkaku dd {
    width: 95%;
    padding-left: 0 ;
    font-size: 14px;
    padding-top: 5px;
    margin: 0 auto;
  }
}
/* -----------footer------------- */
footer {
  background-color: #262626;
  color: #fff;
}

#footer-flex {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer-left {
  max-width: 50%;
}

#footer-right {
  max-width: 50%;
}

#footer-left h4 {
  font-size: 24px;
  margin: 0 0 0 10px;
}

#footer-left div {
  display: flex;
}

footer dl {
  margin-top: 30px;
}

#footer-left dt {
  float: left;
  margin-top: 10px;
}

#footer-left dd {
  margin-top: 10px;
}

#footer-left #dt-top {
  margin-top: 0;
}

#copy {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 10px;
}


@media screen and (max-width: 780px){
  
#footer-flex {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer-left {
  max-width: 50%;
}

#footer-right {
  max-width: 50%;
}

#footer-left h4 {
  font-size: 24px;
  margin: 0 0 0 10px;
}

#footer-left div {
  display: flex;
  flex-direction: column;
}

#footer-left div img {
  width: 30%;
  margin-left: 10px;
}

footer dl {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#footer-left dt {
  float: left;
  margin-top: 10px;
  font-weight: bold;
}

#footer-left dd {
  margin-top: 10px;
  margin: 0;
}

#footer-left #dt-top {
  margin-top: 0;
}

#copy {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 10px;
}

iframe {
  width: 100%;
}
}
@media screen and (max-width: 550px){
  #footer-flex {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 98%;
    margin: 0 ;
  }
  
  #footer-left {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 0 0 10%;
    box-sizing: border-box;
  }
  
  #footer-right {
    max-width: none;
    width: 100%;
    text-align: center;
  }
  
  #footer-left h4 {
    font-size: 24px;
    margin: 0 0 0 10px;
  }
  
  #footer-left div {
    display: flex;
    flex-direction: column;
  }
  
  #footer-left div img {
    width: 15%;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  footer dl {
    margin-top: 20px;
    display: inline-block;
    padding-left: 0;
    width: 100%;
  }
  
  #footer-left dt {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  #footer-left dd {
    margin-top: 10px;
  }
  
  #footer-left #dt-top {
    margin-top: 10px;
  }

  #footer-left #dd-id {
    margin-left: 50px;
    margin-top: 0;
  }
  
  #copy {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 10px;
  }
  
  iframe {
    width: 80%;
  }
  }

  /* ----------jquery用--------------- */
  .body-overflow {
    overflow-y: hidden;
  }
  
  .main-fadeout,.main-fadeout3 {
    opacity: 0;
    transition: 1.2S;
    transform: translate(-200px,0px);
  }

  .main-fadeout2,.main-fadeout4{
    opacity: 0;
    transition: 1.5S;
  }
  
  /* 会社概要写真 */
  .about-pic-fadeout {
    opacity: 0;
    transform: translateX(-50px);
  }

  .about-pic-fadein {
    opacity: 1;
    transform: translateX(0);
    transition: 2s;
  }

  .about-pic-fadeout2 {
    opacity: 0;
    transform: translateX(-100px);
  }

  .about-pic-fadein2 {
    opacity: 1;
    transform: translateX(0);
    transition: 2s;
  }
  /* 会社概要写真ここまで */

  .h5-fadeout,.h5-fadeout2 {
    opacity: 0;
    transition: 2.5s;
  }


  .main-fadein {
    opacity: 1;
    transform: translate(0);
  }

  .right,.right-2,.right-3 {
    opacity: 0;
    transition: 2.5s;
  }

  .left,.left-2,.left-3 {
    opacity: 0;
    transition: 1.5s;
  }

  .fadein-right,.fadein-left {
    opacity: 1;
  }

  .btn-1-fadeout,.btn-1-fadeout2 {
    opacity: 0;
    transition: 1.5s;
  }
  
  .btn-1-fadein {
    opacity: 1;
    transition: 1.5s;
  }

  .fadein {
    opacity: 1;
  }

/* PAGE-TOPここから */

.pagetop {
  width: 100%;
  display: flex;
}

.pagetop p {
  margin: 0;
}

#background-blue {
  opacity: 0;
  width: 70%;
  height: auto;
}

#background-blue p {
  color: #ffffff;
  display: none;
}

#background-gray {
  background-color: #262626;
  border-bottom: 5px #262626;
  width: 30%;
  height: 39px;
  margin: -1px 0 -1px auto;
  display: flex;
}

#background-gray a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 5px;
}

#background-gray p {
  margin:  0 auto;
  width: 70%;
  font-weight: bold;
}


.triangle {
  background-color: #262626;
  width: 22px;
  height: 38px;
  margin-right: -1px;
  margin-top: -2px;
  margin-bottom: -1px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  border: 1px solid #262626;
}
.triangle p {
  display: none;
}