body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Noto Sans Japanese','Hiragino Kaku Gothic ProN','Meiryo',sans-serif;
}

/* -----------headerここから------------*/
header {
  display: flex;
  justify-content: space-between;
}

#header-left {
  background-color: #18A0CB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5% 0 0.5%;
}

#header-left a {
  text-decoration: none;
}

@media screen and (max-width: 560px){
  #header-left a {
    flex-direction: column;
    align-items: baseline;
  }
  #header-left h1 {
    padding-top: 2px;
  }
}

#header-left img {
  height: 1.5vw;
  padding-right:1vw;
}

#header-left h1 {
  display: inline-block;
  color: white;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

#header-center {
  display: flex;
  flex-grow: 1;
}

#triangle-left {
  background-color: #18A0CB;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  margin-left: -1px;
  border-bottom: 1px solid #18A0CB;
}

#triangle-right {
  width: 50%;
  height: 100%;
  background-color: #262626;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  border-right: 2px solid #262626;
  margin-right: -1px;
}

#header-right {
  background-color: #262626;
  display: flex;
  align-items: center;
}

#nav {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

.nav-div {
  margin: 10px 2vw;
  text-align: center;
}

.nav-div p {
  margin: 0;
  font-size: 14px;
}

.nav-div span {
  font-size: 16px;
}

.menu {
  position: relative;
}

.drop-menu:hover .drop-menu-list {
  visibility: visible;
}

.menu a {
  align-items: center;
  text-decoration: none;
}

.drop-menu {
  position: relative;
}

.drop-menu-list {
  background-color: #262626; 
  position: absolute;
  top: 100%;
  visibility: hidden; 
  width: 80%;
  text-align: center;
  z-index: 1;
  padding: 20px 20px ;
  list-style: none;
}

.drop-menu-item {
  padding: 15px 0;
  border-top: 1px solid #fff;
}

#drop-menu-item2 {
  border-bottom: 1px solid #fff;
}

.drop-menu-item:hover a{
  color: #67d5f6 !important;
  font-size: 17px;
}

.openbtn1 {
  display: none;
}

/* ----header----PC版ここまで */

@media screen and (max-width: 960px){
  #header-left img {
    height: 15px;
  }

  #header-left {
    width: 40%;
    padding: 0 0 0 5%;
  }

  #nav {
    display: none;
  }

  #header-right {
    width: 70px;
    justify-content: right;
    height: 60px;
  }

  /* ハンバーガー */
.openbtn1{
  display: block;
  position: relative;
  background:#262626;
  width: 70px;
  height:100%;
}

.openbtn1 span{
    display: inline-block;
    transition: all .3s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

#menu-span {
  content:"Menu";
  display: inline-block;
  transition: all .3s;
  position: absolute;
  left: 10px;
  top: 38px;
  height: 0;
  color: #fff;
  width: 0;
  font-size: 14px;
}

/*activeクラス*/
.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
}

@media screen and (max-width: 420px){
  #header-left h1 {
    font-size: 17px;
  }

}

@media screen and (max-width: 356px){
  #header-left h1 {
    font-size: 15px;
  }
}


/* -----------headerここまで------------*/
/* ハンバーガーメニューを開いた時の画面 */
.hamburger {
  display: none;
}

@media screen and (max-width: 960px){
  .ham-menu br {
    display: inline-block;
  }
  .hamburger {
    width: 100%;
    height: auto;
    background-color: #262626;
    position: absolute;
    z-index: 50;
    right: 0;
    display: block;
    opacity: 0;
    transition: all .2s linear;
    display: none;
  }

  .hamu-open {
    width: 100%;
    height: 100dvh;
    background-color: #262626;
    position: absolute;
    z-index: 50;
    right: 0;
    display: block;
    opacity: 0.98;
    display: block;
    transform: translateX(0);
  }

  #ham-div {
    width: 100%;
    margin: 0 0 0 auto;
    display: flex;
  }

  #ham-ul {
    list-style: none;
    margin: 10% 0;
    padding-inline-start:0px;
  }

  #ham-ul a {
    text-decoration: none;
    color: #fff;
  }

  .ham-menu {
    border-bottom: 1px dotted #fff;
    width: 80%;
    margin: 0 auto;
  }

  .hamu-menu-top {
    border-top: 1px dotted #fff;
  }

  .ham-menu a{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60px;
  }

  .ham-menu a p{
    margin: 0;
    width: 50%;
    color: #18A0CB;
  }

  .ham-menu a span {
    font-size: 20px;
    width: 50%;
  }
  
  #ham-left {
    width: 30%;
    height: 100dvh;
  }

  #ham-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #ham-right {
    width: 70%;
  }

}

/* ハンバーガーメニューを開いた時の画面ここまで */

.main-title {
  font-weight: bold; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  /* background-color: #fff; */
}

.title-left {
  font-size: 6em;
  margin-top : 1rem;
  margin-bottom: 1rem;
  color: #5b5b5b;
  width: 60%;
  text-align: left;
  padding-left: 7%;
}

.title-center {
  width: 35%;
  height: 3px;
  /* background-color: #000; */
  margin: 0 auto;
}

@media screen and (max-width: 730px){
  .title-left {
    font-size: 55px;
    width: 50%;
  }
  
  .title-center {
    width: 25%;
    height: 3px;
  }
}

@media screen and (max-width: 480px){
  .title-left {
    font-size: 50px;
    width: 50%;
  }
  
  .title-center {
    width: 25%;
    height: 2px;
    margin-right: 5%;
  }

  .main-title {
    position: relative;
  }
}
/* -------タイトルここまで--------------- */
#googlemap {
text-align: center;
width: 100%;
}

#googlemap iframe {
  width: 85%;
}

#flex {
  display: flex;
  margin: 20px auto;
  max-width: 1000px;
  justify-content: center;
}

#left {
  width: 50%;
}

#right {
  width: 40%;
  text-align: center;
}

#right img {
  width: 100%;
}

.text {
  width: 100%;
  margin: 0 auto 20px auto;
  padding-left: 2%;
}

.text h2 {
  margin: 0;
  color: navy;
}

.text p {
  margin: 0;
}

main {
  background-image: url(../img/index/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

@media screen and (max-width: 580px){
  #googlemap {
    text-align: center;
    width: 100%;
    }
    
    #googlemap iframe {
      width: 85%;
      height: 250px;
    }

  #flex {
    flex-direction: column;
    align-items: center;
    margin: 10px auto 0 auto;
    max-width: 580px;
    margin-bottom: 40px
  }

  #left {
    width: 100%;
    padding-left: 5%;
    padding-right: 2%;
    box-sizing: border-box;
  }

  #right {
    width: 100%;
    height: 250px;
    text-align: center;
  }

  #right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text {
    width: 100%;
    margin: 0 auto 20px auto;
    padding-left: 0;
  }
  
  .text h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .text p {
    margin: 0;
    font-size: 16px;
  }
}

/* -----------footer------------- */
footer {
  background-color: #262626;
  color: #fff;
}

#footer-flex {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer-left {
  max-width: 50%;
}

#footer-right {
  max-width: 50%;
}

#footer-left h4 {
  font-size: 24px;
  margin: 0 0 0 10px;
}

#footer-left div {
  display: flex;
}

footer dl {
  margin-top: 30px;
}

#footer-left dt {
  float: left;
  margin-top: 10px;
}

#footer-left dd {
  margin-top: 10px;
}

#footer-left #dt-top {
  margin-top: 0;
}

#copy {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 10px;
}


@media screen and (max-width: 780px){
  
#footer-flex {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer-left {
  max-width: 50%;
}

#footer-right {
  max-width: 50%;
}

#footer-left h4 {
  font-size: 24px;
  margin: 0 0 0 10px;
}

#footer-left div {
  display: flex;
  flex-direction: column;
}

#footer-left div img {
  width: 30%;
  margin-left: 10px;
}

footer dl {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#footer-left dt {
  float: left;
  margin-top: 10px;
  font-weight: bold;
}

#footer-left dd {
  margin-top: 10px;
  margin: 0;
}

#footer-left #dt-top {
  margin-top: 0;
}

#copy {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 10px;
}

iframe {
  width: 100%;
}
}
@media screen and (max-width: 550px){
  #footer-flex {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 98%;
    margin: 0 ;
  }
  
  #footer-left {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 0 0 10%;
    box-sizing: border-box;
  }
  
  #footer-right {
    max-width: none;
    width: 100%;
    text-align: center;
  }
  
  #footer-left h4 {
    font-size: 24px;
    margin: 0 0 0 10px;
  }
  
  #footer-left div {
    display: flex;
    flex-direction: column;
  }
  
  #footer-left div img {
    width: 15%;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  footer dl {
    margin-top: 20px;
    display: inline-block;
    padding-left: 0;
    width: 100%;
  }
  
  #footer-left dt {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  #footer-left dd {
    margin-top: 10px;
  }
  
  #footer-left #dt-top {
    margin-top: 10px;
  }

  #footer-left #dd-id {
    margin-left: 50px;
    margin-top: 0;
  }
  
  #copy {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 10px;
  }
  
  iframe {
    width: 80%;
  }
  }

  /* PAGE-TOPここから */

  .pagetop {
    width: 100%;
    display: flex;
  }

  .pagetop p {
    margin: 0;
  }

  #background-blue {
    opacity: 0;
    width: 70%;
    height: auto;
  }

  #background-blue p {
    color: #ffffff;
    display: none;
  }

  #background-gray {
    background-color: #262626;
    border-bottom: 5px #262626;
    width: 30%;
    height: 39px;
    margin: -1px 0 -1px auto;
    display: flex;
  }

  #background-gray a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 5px;
  }

  #background-gray p {
    margin:  0 auto;
    width: 70%;
    font-weight: bold;
  }


  .triangle {
    background-color: #262626;
    width: 22px;
    height: 38px;
    margin-right: -1px;
    margin-top: -2px;
    margin-bottom: -1px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    border: 1px solid #262626;
  }
  .triangle p {
    display: none;
  }

  .body-overflow {
    overflow-y: hidden;
  }